{% extends 'diary/base.html' %}

{% block content %}
<div class="container">
   <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
         <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ diary.title }}</h4>
         </div>
         <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ record.content }}</h1>
            <p>{{ diary.content }}</p>
            <a href="{% url 'diary:diary_edit' record.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'diary:diary_delete' record.pk %}" class="btn btn-danger">Удалить</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}